@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: #030c1c;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  height: 60px;
}
.header__logo {
  max-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  max-height: calc(100% - 10px);
}
.header__buscador {
  padding-left: 50px;
  flex: 1;
  display: flex;
}
.header__buscador input {
  flex: 1;
  background-color: #030c1c;
  outline: none;
  border: none;
  color: #ddd;
  padding: 10px;
  font-size: 1.2rem;
}
.header__usuario {
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}
.header__usuario img {
  height: calc(100% - 10px);
  border-radius: 50%;
}

.container {
  display: flex;
}
.container .menu {
  width: 80px;
  height: calc(100vh - 60px);
  display: flex;
  padding-top: 50px;
}
.container .menu__lista {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container .menu__lista li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  margin-bottom: 40px;
}
.container .menu__lista li img {
  width: 2.5rem;
}
.container .menu__lista li span {
  margin-top: 5px;
  font-size: 0.8rem;
}
.container .menu__lista li:hover {
  color: #ff9c63;
  border-left: 4px solid #ff9c63;
}
.container .tabla {
  flex: 1;
  border: 1px solid #5e5e5e;
  display: flex;
  flex-direction: column;
}
.container .tabla .mesas {
  color: #ddd;
  height: 80px;
  display: flex;
}
.container .tabla .mesas__lista {
  display: flex;
  width: 80%;
}
.container .tabla .mesas__lista li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 100px;
}
.container .tabla .mesas__lista li .mesas__numero {
  font-size: 2rem;
}
.container .tabla .mesas__lista li:hover {
  background-color: #051633;
}
.container .tabla .mesas__lista li.active {
  background-color: #051633;
  border-bottom: 4px solid #ff9c63;
}
.container .tabla .pedido {
  padding: 20px;
  flex: 1;
  background-color: #051633;
  display: flex;
}
.container .tabla .pedido .carta {
  flex: 1;
}
.container .tabla .pedido .carta__categorias {
  height: 60px;
  display: flex;
  align-items: center;
}
.container .tabla .pedido .carta__categorias button {
  margin-right: 10px;
}
.container .tabla .pedido .carta__platos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .tabla .pedido .carta__plato {
  position: relative;
  cursor: pointer;
  color: #ddd;
  transition: 1s all ease;
  border-radius: 36px;
  background: linear-gradient(145deg, #051837, #05142e);
  box-shadow: 11px 11px 22px #030e21, -11px -11px 22px #071e45;
  width: calc(25%);
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.container .tabla .pedido .carta__plato:hover {
  box-shadow: inset 11px 11px 22px #030e21, inset -11px -11px 22px #071e45;
  color: #ffede3;
}
.container .tabla .pedido .carta__plato:hover img {
  transform: scale(1.1);
}
.container .tabla .pedido .carta__plato img {
  width: 50%;
}
.container .tabla .pedido .carta__plato * {
  margin-bottom: 5px;
}
.container .tabla .pedido .boleta {
  width: 400px;
}
.container .tabla .pedido .boleta h3 {
  height: 60px;
  display: flex;
  align-self: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 8px;
}
.container .tabla .pedido .boleta .comanda {
  background-color: #eee;
  background: url("./../img/comanda.png") no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-top: 10px;
  padding: 25px 15px 10px 40px;
  box-shadow: 0px 4px 10px #666;
}
.container .tabla .pedido .boleta .comanda__item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 8px;
}
.container .tabla .pedido .boleta .comanda__item:nth-child(odd) {
  background-color: #ebebeb;
}
.container .tabla .pedido .boleta .comanda__nombre {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.container .tabla .pedido .boleta .comanda__nombre span:nth-child(2) {
  margin-top: -5px;
  font-size: 0.9rem;
}
.container .tabla .pedido .boleta .comanda__cantidad,
.container .tabla .pedido .boleta .comanda__precio {
  flex: 25%;
  text-align: center;
}

.btn {
  height: 40px;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
}
.btn-primary {
  background-color: #ff9c63;
}
.btn-success {
  background-color: #58bf81;
}
.btn-outline-primary {
  border: 1px solid #ff9c63;
  color: #ff9c63;
}
.btn-outline-primary:hover,
.btn-outline-primary.active {
  background-color: #ff9c63;
  color: #ddd;
}

.carta__botones {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-sumar{
  margin-left: 10px;
}

