body {
  background: #666;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.rojo {
  color: red;
}

.amarillo {
  color: yellow;
}

.naranja {
  color: orange;
}

.azulhex {
  color: #0000ff;
}
.violetahex {
  color: #ff00ff;
}
.grisclarohex {
  color: #ddd;
}

.rosadorgb {
  color: rgb(250, 190, 190);
}

.amarillorgb {
  color: rgb(255, 255, 0);
}

.semitransparente {
  background: rgba(143, 189, 79, 0.5);
}

.hsl {
  background-color: hsl(270, 100%, 50%);
}

.hsl2 {
  background-color: hsl(270, 100%, 40%);
}

.hsl3 {
  background-color: hsl(270, 100%, 30%);
  /* background-color: hsla(270, 100%, 30%, 0.5); */
}

